.admin:hover
{
    color: blue;
}
.adminbutton
{
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}
.adminbutton:hover{
    color:red;
    border: 1px solid red;
}
.nav{
    font-size: 19px;
}
.nav:hover
{
    color: red;
}
.slider
{
    width: 100%;
    height: 650px;
}
.video
{
    width:150rem;
}
.readmore:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.news
{
    margin-left: 70rem;
font-family: cursive;
}
.welcome
{
    width: 200%;
}
.kidimage
{
   height: 400px;
   width: 400px;
   border-radius: 50%;
   border: 2px solid black;
}
.div2
{
    height:300px;
    width: 450px;
}